@charset "utf-8";
body{
  transition: all 0.5s;
}
/* header-------------------- */
.dark{
  background-color: gray !important;
}
header{
 position: fixed;
 top: 0;
 width: 100%;
 background-color: #fff;
 
 height: 88px;
}
iframe{
  width: 100%;
  height: 100%;  
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 2;
  /*! display: none; */
  overflow-y: hidden;
}
header .headerin{
 max-width: 1200px;
  margin: 0 auto;
}
header h1{
  width: 13%;
  display: inline-block;
  line-height: 3;
}
header h1 a{
  width: 100%;
  display: block;
  background-image: url(../img/logo.png);
  margin-top: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  text-indent: -1090px;
}
header nav{
  float: right;
  width: 83%;
  display: inline-block;
  padding-top: 18px;
}
header nav ul li a{

}
header ul{

}
header ul li{
  display: inline-block;
}
header ul.gnb{
  float: left;
  }
header ul.gnb>li{
 font-weight: bold; 
 margin-top: 2px;

 padding-bottom: 5px;
}
header ul.gnb>li>a{
  font-size: 20px;
  padding: 22px;
  display: block;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 29px;
}
header ul.gnb li:first-child > a:hover{
  color: #3da2dc;
  border-bottom: 3px solid #3da2dc;

}
header ul.gnb li:nth-child(2) a:hover{
  color: #3da2dc;
  border-bottom: 3px solid #3da2dc;

}
header ul.gnb li:nth-child(3) a:hover{
  color: #3da2dc;
  border-bottom: 3px solid #3da2dc;

}
header ul.gnb li:nth-child(4) a:hover{
  color: #3da2dc;
  border-bottom: 3px solid #3da2dc;

}
header ul.enb{
  float: right;
  margin-top: 13px;
}
header ul.enb li{

  box-sizing: border-box;
}
header ul.enb li:nth-child(1){
  
}
header ul.enb li:nth-child(1) a:hover{
  color: #3da2dc;
}
header ul.enb li:nth-child(1) a span{
  
  display: inline-block;
  padding: 6px 18px;
  border: #00aeef;
  border-radius: 20px;
  /*! line-height: 1.2; */
  background-color: #00aeef;
  color: #fff799;
  margin-left: 11px;
  margin-right: 14px;
}
header ul.enb li a{

}
header ul.enb li:nth-child(2) a{
  display: inline-block;
  padding: 11px 13px;
  transition: all 1s;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
header ul.enb li:nth-child(2):hover{
  color: #000;
  border: 1px solid #000;
 
  box-sizing: border-box;
}
header ul.enb li:nth-child(3) a{
  display: inline-block;
  padding: 11px 16px;
  border: 1px solid #288ccd;
  color: #288ccd;
  }
header ul.enb li:nth-child(3) a:hover{
  color: #fff;
  background-color: #288ccd;
  border: 1px solid #288ccd;
}
header ul.enb li:nth-child(4) a{
 
  font-size: 37px;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 12px;
}
header ul.enb li:nth-child(5) a{
  font-size: 38px; 
  vertical-align: middle;
}
.all_menu{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all_menu .all_menu_in{
  
  width: 1000px;
  height: 750px;
  margin: 0 auto;
  background-color: #153068;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
}
.all_menu .fulldown{

  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}
.all_menu .fulldown h2{
  
  font-size: 27px;
  color: #fff;
  display: inline-block;
  padding: 10px 29px 24px 0px;
  border-bottom: 1px solid #fff;
}
.all_menu .fulldown h2+p{
  
  display: none;
} 
.mainmenu{

}
.mainmenu li{
  
}
.all_menu .mainmenu li h3{
  line-height: 2.6;
  font-size: 18px;
  color: #fff;
}
.all_menu .mainmenu li h3::before{
  content: "●";
  font-size: 8px;
  display: inline-block;
  vertical-align: 5px;
  padding-right: 10px;
}
.mainmenu .submenu{
  
}
.all_menu .mainmenu .submenu li{
  
  line-height: 1.8;
  font-size: 14px;
  color: #999;
} 
.all_menu .mainmenu .submenu li a{
  color: #999;
} 
.all_menu .mainmenu .submenu li a:before{
  content: "-";
  font-size: 13px;
  display: inline-block;
  vertical-align: 3px;
  padding-right: 10px;
}
.close{
  position: absolute;
  font-size: 50px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(245, 245, 245, 0);
  color: #fff;
  line-height: 1;
  padding: 0;
  border: none;
  border-radius: 50%;
  padding-bottom: 14px;
  box-sizing: border-box;
  cursor: pointer;
}
/* 퀵메뉴 */
header .qnb{
 width: 155px;
 margin-top: 41px;
 
 position: absolute;
 right: calc((100% - 1200px) / 2);
}
header .qnb:hover{
 animation-name:aniwidth;
 animation-duration:0.5s;
 animation-iteration-count:initial; 
 animation-timing-function: ease-in-out ; 
 animation-fill-mode: forwards;
}
@keyframes aniwidth{
 0%{
    width:155px;
  }
  100%{
    width: 180px;
  }
  
}
header .qnb:hover ul{
  display: block;
  position: absolute;
  left: 0;
}
header .qnb li{
  transition: all 0.5s;
  display: block;
  line-height: 2;
  font-size: 13px;
  background-color: #fff;
  color: #1f446a;
}
header .qnb li a{
  display: block;
  line-height: 2;
  font-size: 13px;
  padding-left: 15px;
  padding-top: 7px;
  padding-right: 19px;
  padding-bottom: 5px;
}
header .qnb li a:hover{
 background-color: #4ac6f7;
   color: #fff !important;
}
header .qnb h2{
  line-height: 1.2;
  padding: 0px 8px 4px 14px;
  background-color: #1f446a;
  color: #fff;
  /*! padding-right: 100px; */
  cursor: pointer;
  /*! position: relative; */
  /*! top: 65px; */
  /*! left: 1000px; */
}
header .qnb h2::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/semo.svg);
  background-repeat: no-repeat;
  margin-left: 57px;
  cursor: pointer;
}
header .qnb:hover ul{
 animation-name:aniwidth2;
 animation-duration:0.5s;
 animation-iteration-count:initial; 
 animation-timing-function: ease-in-out ; 
 animation-fill-mode: forwards;
}
@keyframes aniwidth2{
  0%{
    width: 155px;
  }
  100%{
    width: 180px;
  }
}
header .qnb ul li{

}
header .qnb ul li a{

}
/* 폴다운 */
header nav ul.gnb>li:hover div.fulldown{
  display: block;
} 
header .fulldown {
  position: absolute;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 10px 20px -6px #999;
  padding-top: 34px;
  padding-bottom: 55px;
  /*! margin-top: -8px; */
  left: 0;
  top: 88px;
  display: none;
  /*! z-index: 46; */
}

header .fulldown .block_center{
   max-width: 1200px;
}

header .fulldown .fmenu1{

}
header .fulldown .fmenu1 h2{
  float:left;
  font-size:31px;
  margin-top: 17px;
  margin-left: -3px;
}
header .fulldown .fmenu1 p{
  position: absolute;
  top:74px;
  line-height: 1.5;
  margin-top: 20px;
  font-size: 14px;
  color: #999;
  /*! left: 100px; */
  /*! right: ; */
}
header .fulldown .fmenu1 p span{
  display: block;
}
header .fulldown .fmenu1 .mainmenu{
   float:right;
   width:82%;
}
header .fulldown .fmenu1 .mainmenu>li{
  display: inline-block;
  vertical-align: top;
  width:31%;
  font-size:18px;
}
header .fulldown .fmenu1 .mainmenu>li h3:nth-of-type(1){
  
  line-height: 3.1;
  /*! font-size: 18px; */
  font-weight: bold;
  width: 78%;
  border-bottom: 1px solid #999;
}
header .fulldown .fmenu1 .mainmenu>li ul.submenu{
  
}
header .fulldown .fmenu1 .mainmenu>li ul.submenu li{
  
  display: block;
  line-height: 2;
  font-size: 16px;
 
  /*! margin-top: 15px; */
}
header .fulldown .fmenu1 .mainmenu>li ul.submenu li:nth-child(1){
  margin-top: 12px;
}
header .fulldown .fmenu1 .mainmenu>li ul.submenu>li>a{
  color: #626262; 
}
header .fulldown .fmenu1 .mainmenu>li ul.submenu>li>a:hover{
  color: #00aeef;
}

/* 폴다운 2*/
header nav ul.gnb>li:hover div.fulldown1{
  display: block;
} 
header .fulldown1 {
      position: absolute;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 10px 20px -6px #999;
    padding-top: 32px;
    padding-bottom: 55px;
    display: none;
    margin-top: 0px;
    left: 0;
      height: 84px;
}
header .fulldown1 .block_center{
   max-width: 1200px;
}

header .fulldown1 .block_center{

}

header .fulldown1 .fmenu2{

  display: flex;
}
header .fulldown1 .fmenu2 h2{

  
  font-size: 25px;
}
header .fulldown1 .fmenu2 p{
  position: absolute;
  top: 49px;
  line-height: 1.5;
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}
header .fulldown1 .fmenu2 p span{

}
header .fulldown1 .fmenu2 .mainmenu{
   
  /*! display: flex; */
  /*! float: left; */
}
header .fulldown1 .fmenu2 .mainmenu>li{

  margin-left: 58px;
  font-size: 18px;
}
header .fulldown1 .fmenu2 .mainmenu>li:nth-of-type(1){

  margin-left: 163px;
}
header .fulldown1 .fmenu2 .mainmenu>li ul.submenu{
  
}
header .fulldown1 .fmenu2 .mainmenu>li ul.submenu li{
  

}
header .fulldown1 .fmenu2 .mainmenu>li ul.submenu li:nth-child(1){

}
header .fulldown1 .fmenu2 .mainmenu>li ul.submenu>li>a{
   
}
/* 정보 */
header .fulldown1 .fmenu2 .mainmenu1{
   
  /*! display: flex; */
  /*! float: left; */
  width: 77%;
}
header .fulldown1 .fmenu2 .mainmenu1>li{

  margin-left: 40px;
  font-size: 18px;
}
header .fulldown1 .fmenu2 .mainmenu1>li:nth-of-type(1){


  margin-left: 109px;
  /*! font-size: 18px; */
}
header .fulldown1 .fmenu2 .mainmenu1>li:nth-of-type(6){

  margin-top: 40px;
  margin-left: 109px;
  /*! font-size: 18px; */
}
header .fulldown1 .fmenu2 .mainmenu1>li ul.submenu{
  
}
header .fulldown1 .fmenu2 .mainmenu1>li ul.submenu li{
  

}
header .fulldown1 .fmenu2 .mainmenu1>li ul.submenu li:nth-child(1){

}
header .fulldown1 .fmenu2 .mainmenu1>li ul.submenu>li>a{
   
}














