@charset "utf-8";
/* title --------------------------------*/
div#title{
 height: 100%;
 background-image: url(https://cloud.eais.go.kr/images/main/bg_main01.jpg);
 background-size: cover;
 background-position: center;
 position: absolute;
 width: 100%;
 z-index: -1;
}