header{

  max-width: 1200px;
  margin: 0px auto;
  overflow: hidden;
  padding-top: 105px;
  padding-bottom: 17px;
}
h1{
  float: left;
  margin-top: -82px;
  font-size: 50px;
}
h1 a{

}
header>ul{

  text-align: right;
  padding-left: 44px;
  font-size: 18px;
}

header>h1+ul{

}
ul.gnb{

}
ul.gnb li{

  float: left;
  margin-left: 38px;
}
ul.gnb li h2{

}
ul.gnb li h2 a{

  border-top: 2px solid;
  padding-top: 3px;
  color: #8c8c8c;
}
header>h1+ul>li{

}
header>h1+ul+ul{

}
header>h1+ul+ul>li:first-child a{

  width: 18%;
  display: inline-block;
  border-bottom: 1px solid;
  color: #555454;
  text-align: left;
  font-size: 15px;
}
ul.enb{

}
ul.enb li{

}
ul.enb li a{

}

hr{

  display: none;
}
/*타이틀영역*/
div#title{

  width: 1500px;
  margin: 0 auto;
  padding-top: 58PX;
  background-color: #ccccccad;
  height: 676px;
}
div#title h2{

  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
div#title h2+p{

  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
}
div#title ul{

  text-align: center;
  overflow: hidden;
  margin-top: 133px;
}
div#title ul>li{

  display: inline-block;
  width: 30%;
  text-align: center;
}
div#title ul>li.right{

  float: right;
}
div#title ul>li.left{

  float: left;
}
div#title ul li {

}
div#title ul li a {
 display: block;
}
div#title ul li a::before{

  content: "";
  width: 100%;
  height: 330px;
  display: block;
  background-image: url(../img/a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
div#title ul li+li a::before{

  content: "";
  width: 100%;
  height: 330px;
  display: block;
  background-image: url(../img/b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
div#title ul li+li+li a::before{

  content: "";
  width: 100%;
  height: 330px;
  display: block;
  background-image: url(../img/c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
div#title ul+li{

}

div#title ul>li>a>p{

  font-weight: bold;
  /*! line-height: 4; */
  margin-top: 49px;
}
/* showroom */
div#showroom{

  padding-top: 120px;
  text-align: center;
}
div#showroom h2{

  text-align: center;
  font-size: 40px;
  margin-bottom: 22px;
}
div#showroom h2+p{

  text-align: center;
}
div#showroom ul{

}
/* 쇼룸 리스트 */
div#showroom ul.list{
 text-align: center;
 margin-top: 25px;
 display: inline-block;
}
div#showroom ul.list li{
  display: inline-block;
}
div#showroom ul.list li+li{
  border-left: 1px solid;
}
div#showroom ul.list li a{
  padding: 6px 20px;
  display: block;
}

/* 쇼룸 디테일 */
#showroom ul.detail{
  padding-top: 30px;
  max-width: 1920px;
  height: 33.85416vw;
  position: relative;
  margin-top: 30px;
}
#showroom ul.detail li{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#showroom ul.detail li h3{
}

#showroom ul.detail li img{
 width: 100%;
}
#showroom a.go{
  display: inline-block;
  padding: 6px 20px;
  border: 1px solid;
  font-size: 13px;
}
#showroom a.go::after{
 content: ">";
 margin-left: 8px;
 transform: scaleY(1.7) translateY(-1.5px);
 display: inline-block;
}
div#showroom button.counsel{

  position: fixed;
  bottom: 100px;
  right: 100px;
  border: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  z-index: 1;
}
div#showroom button.counsel i{
  font-size: 25px;
    margin-right: 10px;
  vertical-align: -5px;
}
/* case study */
div#casestudy{
 width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}
div#casestudy h2{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;

}
div#casestudy h2+p{
 text-align: center;
  margin-bottom: 50px;
}
div#casestudy ul{
text-align: center
}
div#casestudy ul li{

  display: inline-block;
  width: 30%;

}
div#casestudy ul li:first-child{
  float: left;
}
  div#casestudy ul li:last-child{
  float: right;
}
div#casestudy ul li a{
 text-align: left;
}
div#casestudy ul li a::before{
  content: "";
  width: 100%;
  display: block;
  height: 300px;
  background-image: url(https://www.fursys.com/fur_frt/images/main_renewal/210113/case_study_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
div#casestudy ul li a h3{


}
div#casestudy ul li a h3+p{

}
div#casestudy ul li a p.go{

}
#casestudy a.more{

}
#send h2{

}
#send h2+p{

}
#send ul{

}
#send h2+p+ul{

}
#send h2+p+ul>a{

}
#send li{

}
#send h3{

}
#send p{

}
#send p>a{

}
#send p+a{

}
