@charset "UTF-8";
/* 상단영역 */
header{
  position: absolute !important;
  width: 100%;
  background-color:transparent !important;
  background-image: none !important;
  border: none !important;
  z-index:1;
}
header .gnb>li{
  width:calc(100% / 5);
}
header .gnb{
  
}
header .navbar-collapse{
  padding-top:15px; 
}
header.navbar-default .navbar-nav > li > a{
  text-align: right;
  font-size: 13px;
}
.enb > li:last-child a{
  
  text-indent: -9999px;
  display: inline-block;
}
header.navbar-default .navbar-nav > .active{
  text-align: right;
  font-size: 18px;
}
header.navbar-default .navbar-nav > .active > a{
  background-color: red !important;
  background-image: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-indent: -9999px;
  display: block;
  font-size:0;
}
.enb  > li:last-child {
  
  text-indent: -99999px;
  display: block;
  width: 42px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.navbar-header h1{
  
  text-indent: -9999px;
  background-image: url(../img/logo_w.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 175px;
}
header .open > a{
  background-color: transparent !important;
  background-image: none !important;
}
header .open .dropdown-menu{
  background-color: rgba(255,255,255,0.8);
}
header .dropdown-menu > li > a{
color:#333 !important;
}
header .enb{
  width: auto;
}
header a{
  color:#fff !important;
}

/* 서브페이지에서의 상단 */
body.introduce header{
 background-color: #fff;
 position:static !important;
}
body.introduce header a{
 color: #333 !important; 
}
@media screen and (max-width:768px){
  header .gnb li{
    width: auto;
  }
 header #fulldown{
  background-color: #fff;
 }
 header #fulldown a{
  color:#333 !important;
  text-align: left;
 } 
}

